*{
  font-family: Comfortaa;
}

.card-img-top {
  width: 100% !important;
  padding: 4px;
}

#crop {
  width: 200px;
  height: 250px;
}

.input101 {
  color: #403866;
  font-size: 18px;
  display: block;
  background: transparent;
}

.input102 {
  color: #403866;
  /* line-height: 0.1; */
  font-size: 18px;
  padding: 0 16px;
  text-align: center;
  display: block;
  width: 100%;
  background: transparent;
}

.books {
  margin-left: 1%;
  margin-right: 1%
}
